body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
}

.fade-in {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #4A5568;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}